/* Importa a fonte Poppins do Google Fonts para ser usada no documento */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Define a fonte Poppins como a fonte padrão para todos os elementos */
* {
    font-family: "Poppins", "Arial", "sans-serif";
}

/* Estiliza o título da página */
.text-titulo {
    background-color: #4d4c4c; /* Cor de fundo */
    border-radius: 5px; /* Borda arredondada */
    color: #fff; /* Cor do texto */
}

/* Estilos para o modal */
.modal {
    display: flex; /* Exibe o modal como um flex container */
    align-items: center; /* Alinha os itens verticalmente */
    justify-content: center; /* Alinha os itens horizontalmente */
    display: none; /* Inicialmente oculta o modal */
    position: fixed; /* Posição fixa em relação à janela de visualização */
    z-index: 1000; /* Z-index para garantir que fique acima de outros elementos */
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Adiciona barra de rolagem se necessário */
    background-color: rgba(0, 0, 0, 0.4); /* Cor de fundo com transparência */
}

/* Estiliza o botão de fechar do modal */
.close {
    color: #fff; /* Cor do texto */
    font-size: 28px; /* Tamanho da fonte */
    font-weight: bold; /* Negrito */
    position: fixed; /* Posição fixa em relação à janela de visualização */
    top: 10px; /* Distância do topo */
    right: 145px; /* Distância da direita */
    z-index: 1100; /* Z-index para garantir que fique acima de outros elementos */
}

/* Estiliza o botão de fechar do modal quando hover ou focus */
.close:hover,
.close:focus {
    color: black; /* Cor do texto ao passar o mouse ou focar */
    text-decoration: none; /* Remove a decoração de texto */
    cursor: pointer; /* Muda o cursor para apontador */
}

/* Classe aplicada quando o modal está aberto */
.open {
    display: block; /* Exibe o modal */
}

/* Estilos para o carousel */
.carousel {
    display: flex; /* Exibe o carousel como um flex container */
    overflow: hidden; /* Esconde o conteúdo que estiver fora da área visível */
    width: 100%; /* Largura total */
    position: relative; /* Posição relativa */
    margin-top: 20px; /* Margem superior */
    height: 1000px; /* Altura do carousel */
    margin-bottom: 20px; /* Margem inferior */
}

/* Estilos para o conteúdo interno do carousel */
.carousel-inner {
    display: flex; /* Exibe o conteúdo do carousel como um flex container */
    transition: transform 0.5s ease; /* Efeito de transição suave */
    width: 100%; /* Largura total */
}

/* Estilos para cada item do carousel */
.carousel-item {
    min-width: 100%; /* Largura mínima de 100% */
    flex-shrink: 0; /* Não permite que o item encolha */
}

/* Estilos para o conteúdo dentro do carousel */
.carousel-content {
    width: 100%; /* Largura total */
    display: flex; /* Exibe o conteúdo do carousel como um flex container */
    justify-content: center; /* Alinha os itens horizontalmente */
    align-items: center; /* Alinha os itens verticalmente */
}

/* Estiliza o texto dentro do carousel */
.carousel-text {
    background-color: #4a5568; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    padding: 20px; /* Espaçamento interno */
    border-radius: 5px; /* Borda arredondada */
    text-align: center; /* Alinhamento do texto */
    height: 1000px; /* Altura do texto */
    width: 1200px; /* Largura do texto */
}

/* Estilos para os botões de navegação do carousel */
.carousel-button {
    position: fixed; /* Posição fixa em relação à janela de visualização */
    top: 50%; /* Distância do topo */
    transform: translateY(-50%); /* Ajusta a posição verticalmente */
    color: #fff; /* Cor do texto */
    font-size: 24px; /* Tamanho da fonte */
    border: none; /* Remove a borda */
    cursor: pointer; /* Muda o cursor para apontador */
    z-index: 1100; /* Z-index para garantir que fique acima de outros elementos */
}

/* Estilos para o botão de navegação anterior do carousel */
.prev-button {
    left: 0; /* Distância da esquerda */
    margin-left: 130px; /* Margem esquerda */
}

/* Estilos para o botão de navegação anterior quando hover ou focus */
.prev-button:hover,
.prev-button:focus {
    color: black; /* Cor do texto ao passar o mouse ou focar */
    text-decoration: none; /* Remove a decoração de texto */
    cursor: pointer; /* Muda o cursor para apontador */
}

/* Estilos para o botão de navegação próximo do carousel */
.next-button {
    right: 0; /* Distância da direita */
    margin-right: 145px; /* Margem direita */
}

/* Estilos para o botão de navegação próximo quando hover ou focus */
.next-button:hover,
.next-button:focus {
    color: black; /* Cor do texto ao passar o mouse ou focar */
    text-decoration: none; /* Remove a decoração de texto */
    cursor: pointer; /* Muda o cursor para apontador */
}
